.landing {
    position: relative;
    padding: 0.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

#noProjects {
    /* display: none;
    max-height: 0;
    overflow: hidden; */
    text-align: center;
    font-size: large;
    display: inline-grid;
    grid-auto-flow: row;
    gap: 4px 8px;
}

#noProjects:not(:first-child) {
    font-size: medium;
}

#projects {
    /* display: none;
    max-height: 0; 
    overflow: hidden; */
}

#loadingContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 11.25rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-left: solid 0.0625rem #aaa;
    border-right: solid 0.0625rem #aaa;
}

span {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20%;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: solid 0.0625rem #1de9b6;
    display: inline-block;
    position: absolute;
    transform: translateX(0rem);
    animation: 1s circleAnimation infinite ease-in-out;
}

span:nth-child(1) {
    left: -3.75rem;
}

span:nth-child(2) {
    left: 0rem;
}

span:nth-child(3) {
    left: 3.75rem;
}

span:nth-child(4) {
    left: 7.5rem;
}

@keyframes circleAnimation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(2.1875rem);
    }

    100% {
        transform: translateX(3.75rem);
    }
}