@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* 
fa {
    font-family: 'FontAwesome', serif;
} */

/* * {
    box-sizing: border-box;
}


html
{
    position: relative;
    min-height: 100%;
}

body,
.wrapper{
    position: absolute;
    left: 0;
    top: 5%;
    right: 0;
    bottom: 0;
} */
/* 
.grid-unit {
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
    perspective: 800px;
    overflow: hidden;
}

.top-left {
    background: transparent;
    border-bottom: 5px solid #fff;
}

.top-right {
    background: transparent;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
}

.bottom-right {
    background: transparent;
    border-left: 5px solid #fff;

}

.bottom-left {
    background: transparent;
}

.swing-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    font-size: 2.5em;
    color: whitesmoke;
    font-family: Oxygen, arial, sans-serif;
    transform-origin: left 50%;
    transform: rotateY(120deg);
    transition: transform .5s ease;
    letter-spacing: -.05em;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.top-right .swing-panel,
.bottom-right .swing-panel{
    transform-origin: right 50%;
    transform: rotateY(-120deg);
}

.description {
    display: block;
    position: absolute;
    padding: 5%;
}

.label {
    position: absolute;
    font-family: Oxygen, arial, sans-serif;
    color: whitesmoke;
    font-size: 1.2em;
    opacity: 1;
    transition: opacity .5s ease;
}

.grid-unit:hover .label {
    opacity: 0;
}

.top-left .label {
    bottom: 100px;
    right: 80px;
    transform: rotate(45deg);
}

.top-right .label {
    bottom: 100px;
    left: 80px;
    transform: rotate(-45deg);
}

.bottom-left .label {
    top: 100px;
    right: 80px;
    transform: rotate(-45deg);
}

.bottom-right .label {
    top: 100px;
    left: 80px;
    transform: rotate(45deg);
}

.top-left .description {
    top: 0;
    left: 0;
}

.top-right .description {
    top: 0;
    right: 0;
}

.bottom-left .description {
    bottom: 0;
    left: 0;
}

.bottom-right .description {
    bottom: 0;
    right: 0;
}

.grid-unit:hover .swing-panel {
    transform: rotateY(0deg);
}

.sphere {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 550px;
    transition: background-color .25s ease;
    opacity: 1;
}

.top-left .sphere {
    right: -100px;
    bottom: -100px;
}

.top-right .sphere {
    left: -100px;
    bottom: -100px;
}

.bottom-right .sphere {
    left: -100px;
    top: -100px;
}

.bottom-left .sphere {
    right: -100px;
    top: -100px;
}

.grid-unit:hover .sphere {
    background-color: whitesmoke;
}

.icon {
    position: absolute;
    font-size: 2em;
    transition: all .25s ease;
    z-index: 5;
}

.bottom-left .icon {
    top: 20px;
    right: 30px;
    color: orange;
}

.bottom-right .icon {
    top: 20px;
    left: 22px;
    color: red;
}

.top-right .icon {
    bottom: 25px;
    left: 20px;
    color: deepskyblue;
}

.top-left .icon {
    bottom: 25px;
    right: 35px;
    color: black;
}

.grid-unit:hover .icon {
    color: #16d54a;
    font-size: 4em;
} */

#dashboard ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin: 0;
}

#dashboard ul li {
    list-style-type: none;
}

#dashboard ul li .material-icons {
    font-size: 42px;
}

#dashboard ul li button {
    width: 40vw;
    height: 40vw;
    max-height: 40vh;
    max-width: 40vh;
    padding-top: 100%;
    position: relative;
    color: #fff;
    background-color: hsla(0, 0%, 100%, 0.06);
    backdrop-filter: blur(2px);
    padding: 16px;
    border-radius: 8px;
    display: grid;
    grid-template-rows: repeat(auto-fit,1fr);
    align-items: center;
    justify-items: center;
    border: solid 2px transparent;
}

#dashboard ul li button:hover {
    border: solid 1px #161e45;
    background-color: hsla(0, 0%, 100%, 0.1);
}

#dashboard ul li button:active {
    border: solid 2px hsla(0, 0%, 100%, 0.8);
    background-color: hsla(0, 0%, 100%, 0.3);
}

#add-admin-form
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap: 1rem 1rem;
    margin-left: 35vw;
    grid-template-areas:
        ". . ."
        "start middle end"
        ". . ."
}

form
{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem 1rem;
}