@import '../../styles/main.css';
.flipper {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;

}
#textarea {
   background: #fff;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}
.flipback { transform: rotateY(0deg); }
