<section class="blockly-workspace">
    <div class="middle">
        <!-- <table>
            <tr>
                <td id="blocklyArea" />
            </tr>
        </table> -->
        <div id="blocklyDiv" />
        <xml id="toolbox" style="display: none">
            <block type="controls_if" />
            <block type="logic_compare" />
            <block type="controls_repeat_ext" />
            <block type="math_number">
                <field name="NUM">123</field>
            </block>
            <block type="math_arithmetic" />
            <block type="text" />
            <block type="text_print" />
        </xml>
    </div>
</section>