
#userTable {
    width: 80vw;
    text-align: center;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0 auto 10vh;
    position: relative;
    table-layout: fixed;
}

#userTable th {
    padding: 20px 15px;
    font-size: large;
    font-weight: 700;
    position: sticky;
}

#userTable #table-header
{
    padding: 20px 15px;
}

.sticky {
    position: fixed;
    top: 10px;
}

#userTable tr {
    background-color: hsla(0, 57%, 9%, 0.06);
    backdrop-filter: blur(8px);
    transition: 0.3s;
}

#userTable tr:hover,
#userTable tr:nth-child(odd):hover {
    background-color: #1de9b64f;
    backdrop-filter: blur(8px);
    font-weight: bold;
    transform: translate3d(2px, -2px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
}

#userTable tr:nth-child(odd){
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(8px);
}

#userTable tbody,
#userTable td,
#userTable tfoot,
#userTable th,
#userTable thead,
#userTable tr {
    border: solid 1px #fff;
}

#userTable tr >*{
    padding: 1rem;
}

#userTable td
{
    box-shadow: 0 2px 2px -2px #0E1119
}