
<script>
    let userData = [
        'Armin Arlet',
        'Levi Ackerman',
        'Erwin Smith',
        'Zeke Jaegar',
        'Hange Zoe'
    ]
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classroom</title>
</head>
<body>
<main>
    <section class="list-users" id="usersList">
<!--        <table class="container">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <%
 /*               if (userData.length !== 0)
                {
                    var i = 1;
                    userData.forEach(function (data){
            %>
                <tr>
                    <td><a href="www.google.com"><% i; %></a></td>
                    <td><%data.name%></td>
                    <td><%data.email%></td>
                </tr>
                    <% i++; }) %>
            <%
                }
                else{
            %>
            <tr>
                <td colspan="3">No Data</td>
            </tr>
            <%} %>*/
            </tbody>
        </table>-->
        <table class="container">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Levi Ackerman</td>
                    <td>levi@aot.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Erwin Smith</td>
                    <td>erwin@aot.com</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Monkey D. Dragon</td>
                    <td>Dragon@aot.com</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>